* {
  margin: 0;
  color: whitesmoke;
}

body {
  background: linear-gradient(72deg, #156fbb 1%, #43bbed 40%, #156fbb 90%);
  font-family: "Poppins", Sans-serif;
}

header {
  margin-bottom: 40px;
}

.top-logo {
  position: absolute;
  width: 25%;
  z-index: 99;
}

.nav-container {
  /* border: 1px solid red; */
  width: 60%;
  font-size: 1.5rem;
  position: absolute;
  /* margin-top: 1em; */
  display: flex;
  justify-content: space-between;
  right: 4%;
  color: antiquewhite;
  z-index: 99;
}

.nav-opts {
  text-align: center;
  line-height: 100px;
  width: 23%;
  height: 130px;
  cursor: pointer;
  font-size: 140%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-opts:hover {
  color: rgb(235, 156, 52);
  transition: 0.6s;
  text-shadow: black 5px;
}


.top-cover {
  width: 100%;
}

.main-title {
  margin-left: 7vw;
  font-size: 40px;
}

.main-suites {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  /* border: solid 1px red; */
}


.main-photos {
  max-width: 40%;
  margin: 30px;
}

.dialog-box {
  text-align: center;
  background: linear-gradient(72deg, #1570bb62 30%, #43bbed 40%, #156fbb 90%);
  border-radius: 10px;

  height: 160px;
  width: 90%;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  /* border: solid 1px red; */
  position: relative;
}


.dialog-text {
  /* border: solid 1px red; */
  /* width: 40vw; */
  position: absolute;
  /* display: block; */
  color: aliceblue;
  font-weight: bolder;
  z-index: 99;
  top: 50%;
  left: 6%;
  right: 40%;
  transform: translateY(-50%);
}

.dialog-title {
  font-size: 2.2rem;
}

p {
  font-size: 1.2rem;
}

.dialog-buttons {
  height: 133px;
  position: absolute;
  left: 65%;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  max-width: 290px;
}

.contact-button {
  margin-bottom: 3px;
}

.contact-button, .location-button {
  background-color: #fac16b;
  opacity: 0.9;
  font-weight: bolder;
  line-height: 65px;
  height: 65px;
  border-radius: 13px;
  text-decoration: none;
  display: block;
  color: black;
  width: 100%;
  padding: 0px 10px;
  font-size: large;
  /* white-space: nowrap; */
}

.contact-button:hover, .location-button:hover {
  background: linear-gradient(72deg, #348fb6 10%, #43bbed 40%);
  color: whitesmoke;
  opacity: 1;
  transition: 0.6s;
}

.footer {
  background-color: #2e6267;
}