* {
  margin: 0;
  color: whitesmoke;
}

body {
  background: linear-gradient(72deg, #156fbb 1%, #43bbed 40%, #156fbb 90%);
  font-family: "Poppins", Sans-serif;
}

.zap-button {
  position: fixed;
  right: 15px;
  width: 60px;
  bottom: 5vh;
  z-index: 100;
  cursor: pointer;
}

.nav-button-oc {
  all: unset;
  display: none;
}

.side-nav {
  all: unset;
  display: none;
}

.close-nav-button {
  position: fixed;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: rgba(43, 89, 102, 0.452);
}

.side-nav ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.side-nav-opts {
  text-align: center;
  width: 100%;
  line-height: 10vh;
  cursor: pointer;
}

hr {
  width: 80%;
}

header {
  margin-bottom: 80px;
}

.top-logo {
  position: absolute;
  width: 25%;
  z-index: 99;
}

.nav-container {
  width: 60%;
  font-size: 1.5rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 4%;
  color: antiquewhite;
  z-index: 99;
}

.nav-opts {
  text-align: center;
  line-height: 100px;
  width: 23%;
  height: 130px;
  cursor: pointer;
  font-size: 140%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-opts:hover,
.side-nav-opts:hover {
  color: rgb(235, 156, 52);
  transition: 0.6s;
}

.top-cover {
  width: 100%;
}

.main-title {
  margin-left: 12vw;
  font-size: 40px;
  margin-bottom: 40px;
}

.main-suites {
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}

.main-photos {
  cursor: pointer;
  max-width: 35%;
  margin: 0px 20px 60px 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
}

.dialog-box {
  text-align: center;
  background: linear-gradient(72deg, #1570bb62 30%, #43bbed 40%, #156fbb 90%);
  border-radius: 10px;
  height: 300px;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.63);
}

.dialog-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.dialog-text {
  width: 42vw;
  color: aliceblue;
  font-weight: bolder;
  z-index: 99;
  top: 50%;
  left: 6%;
}

p {
  font-size: 1.1rem;
}

.dialog-buttons {
  max-width: 290px;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.contact-button {
  margin-bottom: 3px;
}

.contact-button,
.location-button {
  background-color: #fac16b;
  font-size: medium;
  opacity: 0.9;
  font-weight: bolder;
  line-height: 60px;
  height: 60px;
  border-radius: 13px;
  text-decoration: none;
  display: block;
  color: black;
  min-width: 200px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

.contact-button:hover,
.location-button:hover {
  background: linear-gradient(72deg, #348fb6 10%, #43bbed 40%);
  color: whitesmoke;
  opacity: 1;
  transition: 0.6s;
}

.footer {
  display: flex;
  margin-top: 70px;
  background-color: #2e6267;
  height: fit-content;
  position: relative;
  justify-content: space-evenly;
}

.footer-logo {
  top: 50%;
  max-width: 340px;
  width: 40%;
  object-fit: cover;
}

.footer-article-container {
  top: 50%;
  height: 150px;
  text-align: center;
  transform: translateY(80%);
  position: relative;
}


.footer-address {
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  font-weight: lighter;
  margin: auto;
}

.footer-button {
  background-color: #2e6267;
  border: 2px solid rgba(255, 255, 255, 0.548);
  font-weight: 900;
  padding: 4%;
  opacity: 0.8;
  width: 190px;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1px;
  cursor: pointer;
}

.footer-button:hover {
  background-color: #2b595e;
  opacity: 1;
  transition: 0.3s;
}

.footer-nav-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: relative;
  height: fit-content;
  transform: translateY(50%);
  width: 23vw;
  box-sizing: border-box;
}

.footer-nav-title {
  margin-bottom: 12px;
}

.footer-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-nav-opts {
  font-size: large;
  line-height: 40px;
  height: 40px;
  width: 80px;
  cursor: pointer;
}

.footer-nav-opts:hover {
  color: rgb(235, 156, 52);
  transition: 0.9s;
  text-shadow: rgba(0, 0, 0, 0.473) 1px 1px;
}

.copyright-container {
  text-align: center;
  height: 40px;
  background-color: #e4b490;
}

.copyright-text {
  color: black;
  font-weight: lighter;
  line-height: 40px;
}

@media screen and (max-width: 890px) {
  .main-suites {
    flex-direction: column;
  }

  .main-photos {
    max-width: 70%;
  }

  .dialog-box {
    height: fit-content;
    padding: 50px 0px;
    flex-direction: column;
    box-shadow: unset;
  }

  .dialog-text {
    width: 80%;
    margin-bottom: 40px;
  }

  .dialog-buttons {
    width: fit-content;
  }
}

@media screen and (max-width: 740px) {
  .nav-button-oc {
    display: block;
    text-align: center;
    padding: 6px 6px;
    width: fit-content;
    height: 48px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.637);
    background: linear-gradient(72deg, #156fbb 1%, #43bbed 40%, #156fbb 90%);
    opacity: 0.6;
    cursor: pointer;
    border-radius: 10px;
    position: fixed;
    z-index: 123;
    top: 50px;
    right: 30px;
  }

  .hamb-img {
    width: 48px;
  }

  .side-nav {
    display: block;
    position: fixed;
    right: 0px;
    height: 100%;
    width: 40%;
    z-index: 123;
    background-color: #238192ff;
  }

  .top-logo {
    position: relative;
    width: 70%;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
  }

  .top-cover {
    display: none;
  }

  .nav-container {
    display: none;
  }

  main {
    text-align: center;
  }

  .main-title {
    margin-left: unset;
  }

  .footer {
    align-items: center;
    flex-direction: column;
  }

  .footer-logo {
    margin-top: 20px;
  }

  .footer-article-container {
    transform: none;
  }

  .footer-address {
    width: 60%;
  }

  .footer-nav-container {
    transform: unset;
    margin: 30px 0px;
    min-width: 200px;
  }

  .footer-nav {
    flex-direction: row;
  }

  .footer-nav-title {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .main-suites {
    margin-top: unset;
  }

  .main-photos {
    max-width: none;
    width: 80%;
    margin: 40px none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
  }

  .copyright-container {
    display: none;
  }
}